---
interface Props {
	name: string;
}

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import ModCardButton from './ModCardButton'
import { Badge } from "./ui/badge";

const { name } = Astro.props;

const response = await fetch(`https://${name}.altie122.xyz/data/mod-info.json`);
const data = await response.json();

const Title = data.title;
const Description = data.description;
const image = data.image;
const Links = data.links || [];
const Wiki = data.wiki;
const Version = data.version;
---
<Card className="h-fit">
  <CardHeader>
    <div class="flex"><CardTitle>{Title}</CardTitle><Badge variant="outline" className="w-fit">v{Version}</Badge></div>
    <CardDescription>{Description}</CardDescription>
  </CardHeader>
  <CardContent>
    <img src={image} alt="Mod Image" />
  </CardContent>
  <CardFooter>
    <div class="flex gap-2">
      {Links && Links.map((link: { link: string | URL | null | undefined; image: string | null | undefined; name: string | null | undefined; }) => (
        <a href={link.link} target="_blank" rel="noreferrer">
          <img src={link.image} alt={link.name} class="h-10 w-10" />
        </a>
      ))}
      <ModCardButton Wiki={Wiki} client:load/>
    </div>
  </CardFooter>
</Card>